<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head">
</head>
<body>
<body>
	<div class="container">
		<div class="login-container">
			<div class="login-logo">
				<a href="login.html">Event On</a>
			</div>
			<div class="login-form">
				<form method="post" th:action="@{/usuario/login/}" th:object="${usuario}">
					<div class="form-group">
						<label for="userInput">DNI</label> <input type="text"
							th:field="*{dni}" id="userInput" placeholder="DNI" /> <small
							th:if="${#fields.hasErrors('dni')}" th:errors="*{dni}"
							class="error"></small>
					</div>
					<div class="form-group">
						<label for="">Contraseña</label> <input type="password"
							th:field="*{contrasenia}" id="passwordInput"
							placeholder="Contraseña" /> <small
							th:if="${#fields.hasErrors('contrasenia')}"
							th:errors="*{contrasenia}" class="error"></small>
					</div>
					<div th:replace="layout/layout :: messageIncorrect"></div>
					<button id="btnIngresar" type="submit" class="btn-accept">Ingresar</button>
					<a id="btnVolver" class="btn-volver" type="submit"
						th:href="@{/usuario/registro}">Registrar</a>
				</form>
			</div>
		</div>
	</div>
</body>
</body>
</html>
