<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<meta charset="UTF-8">
<head th:replace="layout/layout :: head">
</head>
<body id="body">
	<div class="principal-container">
		<div class="login-signup-container">
			<div class="image-container-register">
				<img src="/images/cardiac.jpeg" alt="">
			</div>
			<div class="right-container-register">
				<div class="logo-container-min">
					<img src="/images/web-logo.png" alt="">
				</div>
				<div class="fields-container">
					<h1>
						<i></i> REGISTRAR
					</h1>
					<div>
						<form action="">
							<div class="form-container">
								<div class="form-container-left">
									<div class="form-group">
										<span for="">Nombre</span> <input type="text" name="" id=""
											placeholder="Nombre" required>
										<p class="invalid hide">El número de DNI no se encuentra
											registrado</p>
									</div>
									<div class="form-group">
										<span for="">Apellido</span> <input type="text" name="" id=""
											placeholder="Apellido" required>
										<p class="invalid hide">El número de DNI no se encuentra
											registrado</p>
									</div>
									<div class="form-group">
										<span for="">DNI</span> <input type="text" name="" id=""
											placeholder="DNI" required>
										<p class="invalid hide">El número de DNI no se encuentra
											registrado</p>
									</div>
									<div class="form-group">
										<span for="">Fecha de nacimiento</span> <input type="date"
											name="" id="" placeholder="Fecha de nacimiento" required>
										<p class="invalid hide">El número de DNI no se encuentra
											registrado</p>
									</div>
									<div class="form-group">
										<span for="">Sexo</span> <select name="sexo" id="sexo">
											<option value="">Sexo</option>
											<option value="M">Masculino</option>
											<option value="F">Femenino</option>
										</select>
										<p class="invalid hide">El número de DNI no se encuentra
											registrado</p>
									</div>
								</div>
								<div class="form-container-right">
									<div class="form-group">
										<span for="">Teléfono</span> <input type="text" name="" id=""
											placeholder="Teléfono" required>
										<p class="invalid hide">El número de DNI no se encuentra
											registrado</p>
									</div>
									<div class="form-group">
										<span for="">Correo</span> <input type="email" name="" id=""
											placeholder="Correo" required>
										<p class="invalid hide">El número de DNI no se encuentra
											registrado</p>
									</div>
									<div class="form-group">
										<span for="">Contraseña</span> <input type="password" name=""
											id="" placeholder="Contraseña">
										<p class="invalid hide">La contraseña no es válida</p>
									</div>
									<div class="form-group">
										<span for="">Rol</span> <select name="sexo" id="sexo">
											<option value="">Rol</option>
											<option value="Doctor">Doctor</option>
											<option value="Paciente">Paciente</option>
											<option value="Tutor">Tutor</option>
										</select>
										<p class="invalid hide">El número de DNI no se encuentra
											registrado</p>
									</div>
									<div class="mensaje hide">
										<p>No se guardaron los cambios</p>
									</div>
								</div>
							</div>
							<div class="boton-lr pad-20">
								<button class="color-celeste" type="submit">Registrarme</button>
							</div>
							<div class="boton-lr pad-20">
								<a href="/usuario/login" class="color-rojo" type="">Volver</a>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>

	<footer th:replace="layout/layout :: footer"></footer>
</body>
</html>