<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head">
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>Cardiac</title>
<meta content="width=device-width, initial-scale=1.0" name="viewport">
<meta content="" name="keywords">
<meta content="" name="description">

<meta charset="UTF-8">
<!-- Favicons -->
<link href="/img/favicon.png" rel="icon">
<link href="/img/apple-touch-icon.png" rel="apple-touch-icon">
<link
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
	rel="stylesheet">
<link
	href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap.min.css"
	rel="stylesheet">

<link
	href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700"
	rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Hammersmith+One"
	rel="stylesheet">
<link rel="stylesheet"
	href="https://use.fontawesome.com/releases/v5.3.1/css/all.css">
<!--  -->
<link href="/css/reset.css" rel="stylesheet">

<!-- Main Stylesheet File -->
<link href="/css/style.css" rel="stylesheet">

</head>
<body>
	<header id="header">
		<nav>
			<div class="logo">
				<img src="/images/web-logo-dark.png" alt="">
			</div>
			<ul>
				<li><a class="" th:href="@{/usuario/doctor/misPacientes}">Mis
						pacientes</a></li>
				<li><a class="" th:href="@{/usuario/doctor/editarPerfil}">EDITAR
						PERFIL</a></li>
				<li><a><i type="button" data-toggle="modal" data-target="#exampleModal" class="fas fa-bell"></i></a></li>
				<li><a th:href="@{/usuario/logout}"> <i
						class="fas fa-sign-out-alt"></i></a></li>
				<li><a href="javascript:void(0);" class="icon"
					onclick="showNav()"> <i class="fa fa-bars"></i>
				</a></li>
			</ul>
		</nav>
	</header>
	<!-- #header -->
	<!--sidebar end-->
	<!--main content start-->
	<section class="container">
		<div class="content-area">
			<div class="main-content"></div>
		</div>
	</section>

	<div th:fragment="messageIncorrect" class="message"
		th:classappend="${(failed != null ? 'show ' : 'hide ') + (failed == 'Los datos son incorrectos' ? 'danger' : 'accept')}">
		<p id="txtCorrecto" th:text="${failed}"></p>
	</div>

	<div th:fragment="message" class="message"
		th:classappend="${(correcto != null ? 'show ' : 'hide ') + (correcto == 'No se guardó correctamente' ? 'danger' : 'accept')}">
		<p id="txtCorrecto" th:text="${correcto}"></p>
	</div>

	<div th:fragment="messageEliminado" class="message"
		th:classappend="${(eliminado != null ? 'show ' : 'hide ') + (eliminado == 'Se eliminó correctamente' ? 'removed' : '')}">
		<p id="txtEliminado" th:text="${eliminado}"></p>
	</div>

	<!--main content end-->
	<div th:fragment="scripts">
		<script type="text/javascript" th:src="@{/js/jquery-3.3.1.min.js}"></script>
		<script type="text/javascript" th:src="@{/js/jquery-ui.min.js}"></script>
		<script type="text/javascript" th:src="@{/js/style.js}"></script>
	</div>

	<!--==========================
    Footer
  ============================-->
	<footer id="footer">
		<!-- JavaScript Libraries -->
		<script type="text/javascript"
			src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
		<script type="text/javascript"
			src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
		<script type="text/javascript" th:src="@{/js/chart.min.js}"></script>
		<script type="text/javascript" th:src="@{/js/style.js}"></script>
		<script src="https://code.jquery.com/jquery-3.3.1.js"></script>
		<script
			src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
		<script
			src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap.min.js"></script>

	</footer>
	<!-- #footer -->
</body>
</html>
