<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head">
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>HRM</title>
<meta content="width=device-width, initial-scale=1.0" name="viewport">
<meta content="" name="keywords">
<meta content="" name="description">

<meta charset="UTF-8">
<!-- Favicons -->
<link href="/img/favicon.png" rel="icon">
<link href="/img/apple-touch-icon.png" rel="apple-touch-icon">

<!-- Google Fonts -->
<link
	href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Raleway:300,400,500,700,800|Montserrat:300,400,700"
	rel="stylesheet">

<!--  -->
<link
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
	rel="stylesheet">
<link
	href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap.min.css"
	rel="stylesheet">

<link href="/css/reset.css" rel="stylesheet">
<!-- Bootstrap CSS File -->
<link href="/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">

<!-- Libraries CSS Files -->
<link href="/lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">
<link href="/lib/animate/animate.min.css" rel="stylesheet">
<link href="/lib/ionicons/css/ionicons.min.css" rel="stylesheet">
<link href="/lib/owlcarousel/assets/owl.carousel.min.css"
	rel="stylesheet">
<link href="/lib/magnific-popup/magnific-popup.css" rel="stylesheet">
<link href="/lib/ionicons/css/ionicons.min.css" rel="stylesheet">

<!-- Main Stylesheet File -->
<link href="/css/style.css" rel="stylesheet">


<link rel="stylesheet" type="text/css" href="/css/main.css">
</head>
<body>
	<!--header start-->
	<div th:fragment="sideMenu" id="sideMenu">
		<nav>
			<div class="corner">
				<p>Cardiac</p>
			</div>
			<a id="btnEvento" th:href="@{/evento/listar}"> <i
				class="fa fa-calendar-alt" aria-hidden="true"></i>Eventos
			</a> <a id="btnEmpresa" th:href="@{/empresa/listar}"> <i
				class="fa fa-building" aria-hidden="true"></i>Empresas
			</a> <a id="btnSector" th:href="@{/sector/listar}"> <i
				class="fa fa-industry" aria-hidden="true"></i>Sectores
			</a>
		</nav>
	</div>
	<!--header end-->
	<!--sidebar start-->
	<header id="header">
		<div class="container">

			<div id="logo" class="pull-left">
				<h1>
					<a href="#body" class="scrollto">HRM</a>
				</h1>
				<!-- Uncomment below if you prefer to use an image logo -->
				<!-- <a href="#body"><img src="img/logo.png" alt="" title="" /></a>-->
			</div>

			<nav id="nav-menu-container">
				<ul class="nav-menu">
					<li class="menu-active"><a href="/">Home</a></li>
					<li><a href="#about">Informacion</a></li>
					<li><a href="#services">Servicios</a></li>
					<li><a href="/usuario/login">Login</a></li>
				</ul>
			</nav>
			<!-- #nav-menu-container -->
		</div>
	</header>
	<!-- #header -->
	<!--sidebar end-->
	<!--main content start-->
	<section class="container">
		<div class="content-area">
			<div class="main-content"></div>
		</div>
	</section>

	<div th:fragment="messageIncorrect" class="message"
		th:classappend="${(failed != null ? 'show ' : 'hide ') + (failed == 'Los datos son incorrectos' ? 'danger' : 'accept')}">
		<p id="txtCorrecto" th:text="${failed}"></p>
	</div>

	<div th:fragment="message" class="message"
		th:classappend="${(correcto != null ? 'show ' : 'hide ') + (correcto == 'No se guardó correctamente' ? 'danger' : 'accept')}">
		<p id="txtCorrecto" th:text="${correcto}"></p>
	</div>

	<div th:fragment="messageEliminado" class="message"
		th:classappend="${(eliminado != null ? 'show ' : 'hide ') + (eliminado == 'Se eliminó correctamente' ? 'removed' : '')}">
		<p id="txtEliminado" th:text="${eliminado}"></p>
	</div>

	<!--main content end-->
	<div th:fragment="scripts">
		<script type="text/javascript" th:src="@{/js/jquery-3.3.1.min.js}"></script>
		<script type="text/javascript" th:src="@{/js/jquery-ui.min.js}"></script>
		<script type="text/javascript" th:src="@{/js/style.js}"></script>
	</div>

	<!--==========================
    Footer
  ============================-->
	<footer id="footer">
		<!-- JavaScript Libraries -->
		<script type="text/javascript" src="/js/Chart.js"></script>
		<script type="text/javascript" src="/js/chart.min.js"></script>
		<script src="/lib/jquery/jquery.min.js"></script>
		<script src="/lib/jquery/jquery-migrate.min.js"></script>
		<script src="/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
		<script src="/lib/easing/easing.min.js"></script>
		<script src="/lib/superfish/hoverIntent.js"></script>
		<script src="/lib/superfish/superfish.min.js"></script>
		<script src="/lib/wow/wow.min.js"></script>
		<script src="/lib/owlcarousel/owl.carousel.min.js"></script>
		<script src="/lib/magnific-popup/magnific-popup.min.js"></script>
		<script src="/lib/sticky/sticky.js"></script>
		<script
			src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD8HeI8o-c1NppZA-92oYlXakhDPYR7XMY"></script>
		<!-- Contact Form JavaScript File -->

		<script src="https://code.jquery.com/jquery-3.3.1.js"></script>
		<script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
		<script src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap.min.js"></script>

		<script src="/contactform/contactform.js"></script>

		<!-- Template Main Javascript File -->
		<script src="/js/main.js"></script>
	</footer>
	<!-- #footer -->
</body>
</html>
