
$colorPlomo: #555555;
$colorGris: #b0b0b0;
$colorAzul: #324472;
$colorAmarillo: #EFA517;
$colorNaranje: #E86D1F;
$colorRojoOscuro: #A41410;
$colorRojo: #C8193A;
$colorRojoClaro:#E07885;
$colorRojoPastel:rgb(228, 177, 183);
$colorPlomoClaro: #f2f2f2;
$colorCelesteClaro: #14A9C9;
$colorCelestePastel: #BEFFEC;

$colorTurquesa: #28B7B7;
$colorCeleste: #3db8c9;
$colorVerde: #A7DDA7;
$colorActive: #67BAC9;
$montserrat: "Montserrat";
$hammer: "Hammersmith One";
$light: 300;
$regular:400;
$medium:500;
$semi-bold:600;
$bold:700;

$nav-height:68px;