<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<head th:replace="layout/layoutPaciente :: head">
</head>
<body>
	<div id="cll" class="container">
		<header th:replace="layout/layoutPaciente :: header"></header>
		<section class="main-view">
			<div class="section-container block">
				<div class="right-panel col-4 separator">
					<div class="focus-content">
						<h1>ASOCIAR DOCTOR</h1>
						<div class="seccion-encargados top-m-20">
							<table id="doctores" class="table table-striped table-bordered"
								style="width: 100%">
								<thead>
									<tr>
										<th>DNI</th>
										<th>Nombre</th>
										<th>Agregar</th>
									</tr>
								</thead>
								<tbody>
									<tr th:each="lp : ${listaDoctores}">
										<td th:text="${lp.dni}"></td>
										<td th:text="${lp.nombre}"></td>
										<td><a th:href="${'/usuario/paciente/addDoctorP'+lp.id}">Agregar</a></td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
				<div class="left-panel col-6">
					<div class="focus-content">
						<h1>MIS DOCTORES</h1>
						<div class="seccion-encargados top-m-20">
							<table id="misdoctores"
								class="table table-striped table-bordered" style="width: 100%">
								<thead>
									<tr>
										<th>ID Relación</th>
										<th>DNI</th>
										<th>Nombre</th>
										<th>Agregar</th>
									</tr>
								</thead>
								<tbody th:each="l : ${listaMisDoctores}">
									<tr th:if="${l.usuarioDoctor} != null">
										<td th:text ="${l.id}"></td>
										<td th:text="${l.usuarioDoctor.dni}"></td>
										<td th:text="${l.usuarioDoctor.nombre}"></td>
										<td><a
											th:href="${'/usuario/paciente/deleteDoctorP'+l.id}">Eliminar</a></td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</section>
	</div>
	<footer th:replace="layout/layoutPaciente :: footer"></footer>
	<script type="text/javascript">
		$(document).ready(function() {
			$('#doctores').DataTable({

				language : {
					"decimal" : "",
					"emptyTable" : "No hay información",
					"info" : "Mostrando _START_ a _END_ de _TOTAL_ Entradas",
					"infoEmpty" : "Mostrando 0 to 0 of 0 Entradas",
					"infoFiltered" : "(Filtrado de _MAX_ total entradas)",
					"infoPostFix" : "",
					"thousands" : ",",
					"lengthMenu" : "Mostrar _MENU_ Entradas",
					"loadingRecords" : "Cargando...",
					"processing" : "Procesando...",
					"search" : "Buscar:",
					"zeroRecords" : "Sin resultados encontrados",
					"paginate" : {
						"first" : "Primero",
						"last" : "Ultimo",
						"next" : "Siguiente",
						"previous" : "Anterior"
					},
				}
			});
		});
	</script>
	<script type="text/javascript">
		$(document).ready(function() {
			$('#misdoctores').DataTable({

				language : {
					"decimal" : "",
					"emptyTable" : "No hay información",
					"info" : "Mostrando _START_ a _END_ de _TOTAL_ Entradas",
					"infoEmpty" : "Mostrando 0 to 0 of 0 Entradas",
					"infoFiltered" : "(Filtrado de _MAX_ total entradas)",
					"infoPostFix" : "",
					"thousands" : ",",
					"lengthMenu" : "Mostrar _MENU_ Entradas",
					"loadingRecords" : "Cargando...",
					"processing" : "Procesando...",
					"search" : "Buscar:",
					"zeroRecords" : "Sin resultados encontrados",
					"paginate" : {
						"first" : "Primero",
						"last" : "Ultimo",
						"next" : "Siguiente",
						"previous" : "Anterior"
					},
				}
			});
		});
	</script>
</body>
</html>
