<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<head th:replace="layout/layoutPaciente :: head">
</head>
<body>
	<div id="cll" class="container">
		<header th:replace="layout/layoutPaciente :: header"></header>
		<section class="main-view">
			<div class="section-container block">
				<div class="right-panel col-4 separator">
					<div class="focus-content">
						<h1>ASOCIAR TUTOR</h1>
						<div class="seccion-encargados top-m-20">
							<div class="bottom-m-20">
								<div class="search">
									<input class="col-6" type="text" name="" id=""
										placeholder="Buscar correo">
									<button class="boton col-4" type="submit">BUSCAR</button>
								</div>
								<p class="invalid hide">No existe el tutor</p>
							</div>

							<div class="encargado-form top-m-20">
								<form action="">
									<fieldset disabled>
										<div class="form-group-disabled bottom-p-20">
											<span class="col-3">Nombre</span> <input class="col-7"
												type="text" placeholder="Nombre">
										</div>
										<div class="form-group-disabled bottom-p-20">
											<span class="col-3">Apellidos</span> <input class="col-7"
												type="text" placeholder="Appellidos">
										</div>
										<div class="form-group-disabled bottom-p-20">
											<span class="col-3">DNI</span> <input class="col-7"
												type="text" placeholder="DNI">
										</div>
										<div class="form-group-disabled bottom-p-20">
											<span class="col-3">Correo</span> <input class="col-7"
												type="text" placeholder="Correo">
										</div>
										<div class="form-group-disabled bottom-p-20">
											<span class="col-3">Teléfono</span> <input class="col-7"
												type="text" placeholder="Teléfono">
										</div>
									</fieldset>
									<div class=" flex boton-lr">
										<button class="color-celeste">Agregar</button>
										<button class="color-rojo">Cancelar</button>
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
				<div class="left-panel col-6">
					<div class="focus-content">
						<h1>MIS TUTORES</h1>
						<div class="seccion-encargados top-m-20">
							<table>
								<tr>
									<th>ID</th>
									<th>FIRST NAME</th>
									<th>LASTNAME</th>
									<th>DNI</th>
									<th></th>
								</tr>
								<tr>
									<td>1</td>
									<td>Rocío Daniela</td>
									<td>Fernández Canales</td>
									<td>71969823</td>
									<td><a href=""><i class="fas fa-trash-alt"></i></a></td>
								</tr>
								<tr>
									<td>1</td>
									<td>Rocío Daniela</td>
									<td>Fernández Canales</td>
									<td>71969823</td>
									<td><a href=""><i class="fas fa-trash-alt"></i></a></td>
								</tr>
								<tr>
									<td>1</td>
									<td>Rocío Daniela</td>
									<td>Fernández Canales</td>
									<td>71969823</td>
									<td><a href=""><i class="fas fa-trash-alt"></i></a></td>
								</tr>
								<tr>
									<td>1</td>
									<td>Rocío daniela Daniela</td>
									<td>Fernández fernandez Canales</td>
									<td>71969823</td>
									<td><a href=""><i class="fas fa-trash-alt"></i></a></td>
								</tr>
								<tr>
									<td>1</td>
									<td>Rocío Daniela</td>
									<td>Fernández Canales</td>
									<td>71969823</td>
									<td><a href=""><i class="fas fa-trash-alt"></i></a></td>
								</tr>
							</table>
							<div class="pagination-container">
								<div class="pagination">
									<a class="" href="#">&laquo;</a> <a href="#">1</a> <a
										class="active" href="#">2</a> <a href="#">3</a> <a href="#">4</a>
									<a href="#">5</a> <a href="#">6</a> <a href="#">&raquo;</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
	</div>
	<footer th:replace="layout/layoutPaciente :: footer"></footer>
</body>
</html>
