<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<head th:replace="layout/layoutPaciente :: head">
<body>
	<div class="top-10">
		<table class="table table-striped table-bordered"
			th:if="${datosInterm} != error">
			<thead>
				<tr>
					<th>Dia</th>
					<th>Oxigenacion</th>
					<th>Ritmo</th>
					<th>Semaforo</th>
					<th>Ver</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="p : ${datosInterm}">
					<td th:text="${p.usuario.dni}"></td>
					<td th:text="${p.oxigenacion}"></td>
					<td th:text="${p.estresCardiaco}"></td>
					<td th:text="${p.estresCardiaco}"></td>
					<td th:text="${p.estresCardiaco}"></td>
				</tr>
			</tbody>
		</table>
	</div>
	<footer th:replace="layout/layoutPaciente :: footer"></footer>
</body>